@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    background-color: #1f2937;
    color: #f9faf8;
    text-shadow: 0px 0px 2px black;
    padding: 16px 256px 0 256px;
    display: flex;
    flex-direction: column;
    gap: 128px;
}

#menu,
#menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    gap: 32px;
}

#menu li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

#opening {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 128px;
    gap: 64px;
}

#opening h1 {
    margin-bottom: 24px;
}

#opening-left {
    max-width: 500px;
}

button {
    background-color: #366ff7;
    color: #f9faf8;
    font-weight: 900;
    font-size: 16px;
    height: 40px;
    width: 110px;
    border: none;
    border-radius: 12px;
}

#opening-left button {
    margin-top: 24px;
}

#opening-right img {
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

#content {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

#content-info {
    display: flex;
    justify-content: space-around;
    gap: 36px;
    margin-bottom: 48px;
}

#content img {
    border-radius: 12%;
    height: 200px;
    width: 200px;
    border: 5px solid #366ff7;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 36px;
    max-width: 256px;
}

#content-quote {
    display: flex;
    flex-direction: column;
    padding: 48px 0 48px 0;
    background-color: lightslategrey;
    align-self: stretch;
    align-items: center;
    gap: 12px;
    font-size: 20px;
}

#quote {
    font-family: 'Roboto';
    font-weight: 100;
}

#person {
    padding-left: 64px;
    font-family: 'Roboto';
    font-weight: 900;
}

#content-sign-up {
    height: 200px;
    display: flex;
}

#sign-up-panel {
    height: 90px;
    background-color: #5C8CFA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 64px;
    gap: 64px;
}

#sign-up-panel button {
    border: 2px solid white;
}

#footer div {
    height: 64px;
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: center;
    align-items: center;
}