* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    background-color: #1f2937;
    color: #f9faf8;
    text-shadow: 0px 0px 2px black;
    padding: 16px 256px 0 256px;
    display: flex;
    flex-direction: column;
    gap: 128px;
}

#menu,
#menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    gap: 32px;
}

#menu li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

#opening {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 128px;
    gap: 64px;
}

#opening h1 {
    margin-bottom: 24px;
}

#opening-left {
    max-width: 500px;
}

#opening-left button {
    background-color: #366ff7;
    color: #f9faf8;
    font-weight: 900;
    font-size: 16px;
    height: 40px;
    width: 110px;
    border: none;
    border-radius: 12px;
    margin-top: 24px;
}

#opening-right img {
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

#content {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

#content-info {
    display: flex;
    justify-content: space-around;
    gap: 36px;
}

#content img {
    border-radius: 15%;
    height: 200px;
    width: 200px;
    border: 5px solid #366ff7;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 36px;
    max-width: 256px;
}